{% extends "fleetboss/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Fleetboss</h1>

Fleetboss is a tool designed for fleet commanders. It gives a quick overview of
the people in the fleet, their ships as well as the chain of command. It also
tries to notify you of possible errors in your fleet composition and allows you
to share data with others.

<h2>How it works</h2>

<ol>
<li>Somehow work your way up to fleet boss of a fleet.</li>
<li>Log into this site.</li>
<li>In the hamburger menu of the fleet window, get the external fleet URL.</li>
<li>Enter the external URL into the site.</li>
<li>Enjoy! Optionally share the page with your friends and fleet members.</li>
</ol>

<h2>Try it yourself</h2>

<form role="form" action="/fleet/" method="GET">
    <div class="form-group">
        <label for="url">External URL:</label>
        <input name="url" class="form-control" placeholder="Enter external URL">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
